@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.wrapper.main {
    background-color: #000;
    color: #fff;
    font-family: "Ubuntu";
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5em;

}

.carousel-item {
	max-width: 60vw;
	
}

.headshot {
    width: 250px;
    height: 250px;
}