@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.wrapper.main {
    background-color: white;
    color: black;
    font-family: "Ubuntu";
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em;

}

.carousel-item {
	max-width: 60vw;
	
}

.ncsunav {
    background-color:#CC0000;
    color:white;
}


.heading {
    color: #CC0000 !important;
}

.btn-ncsu {
    background-color:#CC0000 !important;
    color:white !important;
}


.headshot{
    width:60%;

}

.social-buttons-footer ul {
    text-align: center;
    list-style: none;
    display: flex;
}

.social-buttons-footer li {
    padding-right: 25px;
}

/*
.social-icons {
    display: flex;
}
.fa {
    padding: 12px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 12px;
  }
  
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram:hover {
    background: #DD2A7B;
    color: white;
  }

  .fa-github:hover {
    border-block-color: #000000;
    color: #000000;
  }*/