@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.wrapper.main {
    background-color: white;
    color: black;
    font-family: "Ubuntu";
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em;

}

.carousel-item {
	max-width: 60vw;
	
}

.ncsunav {
    background-color:#CC0000;
    color:white;
}


.heading {
    color: #CC0000 !important;
}

.btn-ncsu {
    background-color:#CC0000 !important;
    color:white !important;
}


.headshot{
    width:60%;

}

.social-buttons {
    text-align: center;
}
.fa {
    padding: 12px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 12px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
