@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.wrapper.main {
    background-color: white;
    color: black;
    font-family: "Ubuntu";
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5em;

}

.carousel-item {
	max-width: 60vw;
	
}

.ncsunav {
    background-color:#CC0000;
    color:white;
}


.heading {
    color: #CC0000 !important;
}

.btn-ncsu {
    background-color:#CC0000 !important;
    color:white !important;
}