@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.bg-image1, .bg-image2, .bg-image3, .bg-image4, .bg-image5, .bg-image6, .bg-image7, .bg-image8 {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image1 {
  /* The image used */
  background-image: url("../assets/bg/hunt.jpg");

  /* Set a specific height */
  height: 500px;
}

.bg-image2 {
  /* The image used */
  background-image: url("../assets/bg/belltower.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image3 {
  /* The image used */
  background-image: url("../assets/bg/eb2.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image4 {
  /* The image used */
  background-image: url("../assets/bg/reynolds.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image5 {
  /* The image used */
  background-image: url("../assets/bg/talley.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image6 {
  /* The image used */
  background-image: url("../assets/bg/dhhill.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image7 {
  /* The image used */
  background-image: url("../assets/bg/oval.jpg");

  /* Set a specific height */
  height: 250px;
}

.bg-image8 {
  /* The image used */
  background-image: url("../assets/bg/eb2_2.jpg");

  /* Set a specific height */
  height: 250px;
}

.title {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.title span.heading {
  color: #fff;
  padding: 18px;
  font-family: "Ubuntu";
  font-size: 48px;
  letter-spacing: 2px;

}

.title span.sub-heading {
  color: #fff;
  padding: 18px;
  font-family: "Ubuntu";
  font-size: 24px;
  letter-spacing: 2px;

}
