/*********************** Demo - 16 *******************/
.title {
    color: #fff;
}
.box16 {
  text-align: center;
  color: #fff;
  position: relative;
}
.box16 .box-content,
.box16:after {
  width: 100%;
  position: absolute;
  left: 0;
}
.box16:after {
  content: "";
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.08) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  top: 0;
  transition: all 0.5s ease 0s;
}
.box16 .post,
.box16 .title {
  transform: translateY(145px);
  transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}
.box16:hover:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.01) 0,
    rgba(0, 0, 0, 0.09) 11%,
    rgba(0, 0, 0, 0.12) 13%,
    rgba(0, 0, 0, 0.19) 20%,
    rgba(0, 0, 0, 0.29) 28%,
    rgba(0, 0, 0, 0.29) 29%,
    rgba(0, 0, 0, 0.42) 38%,
    rgba(0, 0, 0, 0.46) 43%,
    rgba(0, 0, 0, 0.53) 47%,
    rgba(0, 0, 0, 0.75) 69%,
    rgba(0, 0, 0, 0.87) 84%,
    rgba(0, 0, 0, 0.98) 99%,
    rgba(0, 0, 0, 0.94) 100%
  );
}
.box16 img {
  width: 100%;
  height: auto;
}
.box16 .box-content {
  padding: 20px;
  margin-bottom: 20px;
  bottom: 0;
  z-index: 1;
}
.box16 .title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.box16 .post {
  display: block;
  padding: 8px 0;
  font-size: 15px;
}
.box16 .social li a,
.box17 .icon li a {
  border-radius: 50%;
  font-size: 20px;
  color: #000000;
}
.box16:hover .post,
.box16:hover .title {
  transform: translateY(0);
}
.box16 .social {
  list-style: none;
  padding: 0 0 5px;
  margin: 40px 0 25px;
  opacity: 0;
  position: relative;
  transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
  transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.box16:hover .social {
  opacity: 1;
  transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
}
.box16 .social:before {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
}
.box16 .social li {
  display: inline-block;
}
.box16 .social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}

.box16 .social li a:hover {
    color: #fff;
    background: #000000;
  }
.box17 .icon li,
.box17 .icon li a {
  display: inline-block;
}

.box16 .social li:last-child a {
  margin-right: 0;
}
@media only screen and (max-width: 990px) {
  .box16 {
    margin-bottom: 30px;
  }
}
/*
.fa-facebook {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: #000000;
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: white;
}
.fa-twitter {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: #000000;
}
.fa-twitter:hover {
    background-color: #00aced;
    color: white;
}


.fa-linkedin {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: #000000;
}
.fa-linkedin:hover {
    background-color: #0073a4;
    color: white;
}
.fa-github {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: #000000;
}
.fa-github:hover {
    background-color: #5a32a3;
    color: white;
}

.fa-instagram {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: #000000;
}
.fa-instagram:hover {
    background-color: #DD2A7B;
    color: white;
}
*/