div.calendar {
	background-color:#151515;
	text-align:center;
	border:solid 1px #700;
	width:224px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:5px;
}

p.title {
	margin-top:0px;
	margin-left:-3px;
	margin-right:-3px;
	padding:3px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	/*background-color:#c00;*/

	background:#c00 url('../img/redbar.png') repeat-x;
}

p.monthNav {
	text-align:center;
}
p.monthNav a {
	text-decoration:none;
	color:#666;
}

table.tcCalendar {
		font-family: Tahoma, Verdana, Arial;
		font-size: 75%;
		width: 100%;
}
table.tcCalendar td.tcDayHeader {
		text-align:center;
		color:#fff;
}
table.tcCalendar td.extra {
		font-size: 100%;
		font-family: Tahoma, Verdana, Arial;
		background-color: #151515;
		text-align: right;
		vertical-align: top;
		border: 1px solid black;
		color: #666666;
}
table.tcCalendar td.curmonth, table td.curmonthmatch {
		font-size: 100%;
		font-family: Tahoma, Verdana, Arial;
		background-color: #222;;
		width: 14%;
	   	height: 50px;
		border: 1px solid black;
		text-align: right;
		vertical-align: top;
		color: red;
}

table.tcCalendar td.curmonthmatch div a, table td.extra div a {
		color: white;
	   	text-align: left;
		font-size: 100%;
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 10px;
		text-decoration:none;
}
table.tcCalendar td.curmonthmatch div a {
		margin-bottom: 5px;
		border: 0px;
		font-weight: normal;
		text-decoration:none;
}
table.tcCalendar td.curmonthmatch div a:hover {
		color: #E1F5E2;
}
table.tcCalendar td.curmonthmatch {
		/*background-color: #f00;*/
}
table.tcCalendar td.curmonthmatch a {
		color: #f00;
		cursor:default;
		text-decoration:none;
}
table.tcCalendar td.curmonthmatch a small, table td.extra a small {
		font-size: 75%;
		text-decoration:none;
}
table.tcCalendar td.extra div a {
		color: #151515;
	   	border: 0px;
		text-align: left;
		font-weight: normal;
		text-decoration:none;
}
table.tcCalendar td.curmonth p {
		color: black;
	   	text-align: left;
}
table.tcCalendar td.curmonth a, table.tcCalendar td.curmonth a:visited {
color:#666;
cursor:default;
}

table.tcCalendar tr td a {
		text-decoration: none;
		display: block;
	 	font-weight: bold;
		border-bottom: 1px solid black;
		padding-bottom: 2px;
		text-decoration:none;
}
table.tcCalendar tr td a:none {
		color: black;
}


table.tcCalendar img {
cursor: pointer;
}
