#TC {
		font-family: Arial, sans-serif;
		/*border: 1px solid #CC0000;*/
		font-size: 75%;
		width: 100%;
	   	padding: 0px;
	 	margin-bottom: 7px;
}

#TC tr.bar {
	background:url('../img/headerbar.gif') repeat-x;
    height:30px;
    width:auto;
    font-size:13px;
    padding-top:7px;
    padding-left:10px;
							 
}

#TC td {
		background-color: #111;
		padding: 3px;
		color:#ccc;
}

#TC td.heading {
		border:0px;
		/*background-color: #CC0000;*/
		color: white;
		background:url('../img/headerbar.gif') repeat-x;
		font-size:13px;
height:30px;
	   padding-left:10px;
		font-weight: bold;
}

#TC td.headingcorner {
		border:0px;
		/*background-color: #CC0000;*/
		height:30px;
	   font-size:10px;
	background:url('../img/headerbar.gif') repeat-x;
color: #f00;
	   	font-weight: bold;
		width: 1%;
	   	white-space: nowrap;
}
#TC p a, #TC p a:visited {
		color:#c00;
		text-decoration:none;
}

#TC p a:hover {
		text-decoration:underline;
}

p.TCpages {
		font-family: Arial, sans-serif;
		font-size: 75%;
		text-align: right;
}

p.TC {
		font-family: Arial, sans-serif;
		font-size: 75%;
}
