/* CSS Document */
body {
	margin:0px;
	background-color:#1f1e1e;
	font-family:Verdana, Helvetica;
	width: 100%;
	overflow-x: hidden; /* get rid of the horizontal scroll bar that seems to appear for no reason...*/
}

/* Default */
p { font-size: 12px; }
h1 { font-size: 28px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
li { font-size: 12px; }

#topLogo {
	margin:0px;
	height:125px;
	width:100%;
	text-align:right;
	background-image:url(../img/top.png);
	background-repeat:no-repeat;
	z-index:3;
}

#randIMG {
	position:absolute;
	height:200px;
	width:450px;
	top:0px;
	left:375px;
	z-index:1;
}

#leftNav {
	position:absolute;
	left:0px;
	width:150px;
	margin:0px;
	padding:0px;
	z-index:4;
}

#leftNav div {
	display:block;
	height:20px;
	text-align:right;
	font-size:12px;
	font-family:Verdana, Helvetica;
	font-weight:bold;
	color:#FF0000;
	padding-right:10px;
	padding-top:10px;
	border-bottom:3px solid #151515;
}

#leftNav div a {
	color:#FF0000;
	text-decoration:none;
}

#leftNav div:hover {
	background-image:url(../img/navGrad.jpg);
	background-repeat:repeat-x;
}

#leftNav .navHeader {
	/*display:block;*/
	width:130px;
	text-align:left;
	padding-left:10px;
	color:#ccc;
	background-color:#111;
}

#leftNav .navHeader:hover {
	background-image:none;
}

#leftNav .navActive{
	background-color:#151515;
}
#leftNav .navActive:hover {
	background-image:none;
}

#container {
/*	float:left;
	width:auto; */
	position:relative;
	top: 15px; /* to account for 15px margin in div inside topLogo */
	margin-right: -9px; /* fill to edge of calendar */
}

#mainContent {
	margin:-15px 250px 0px 150px;
	padding:5px 5px 5px 10px; /* pushes the actual content away from the "border" */
	color:#fff;
	background-color:#151515;
	z-index:5;
}

#mainContent h1 {
margin:0px 0px 5px 0px;
color:#700;
}

#mainContent a{
color:#ff0000;
}

#mainContent p.title {
	background:url('../img/headerbar.gif') repeat-x;
}


#rightContent {
	right:10px;
	width:230px;
	padding:0px;
	/*margin-right: 10px;*/
	/*background-color:#151515;*/
	position: absolute;
	top: 140px; /* 125px + 15px margin inside topLogo div */
}

#rightContent p {
	font-size:12px;
}

div.sitemark {
	background-color:#1f1e1e;
	text-align:center;
	font-size:50%;
	color:#666;
	/*border-top:1px #666 dashed;*/
	padding-top:1px;
	padding-bottom:5px;
}

/* NEWS FORMATING */
.newsItem {
	padding:10px;
	font-size: ;
}

.newsItem h3 {
	border-bottom:1px dotted #999999;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
	color:#ff0000;
	padding-left:5px;
	padding-bottom:5px;
	margin:0px;
}

.newsItem p {
	padding-left:5px;
	color:#ffffff;
	font-size:80%;
}

.newsItem h4 {
	font-size:60%;
	border-top:1px dotted #333;
	padding-top:5px;
	margin:0px;
	color:#333;
	text-align:right;
}

.newsItem div.newsImg {
	/* this allows us to put an image in newsitems and have it appear & float correctly. Note width of image is hard-coded at 125px. */
	float:right;
	width:125px;
	clear:both;
	padding:5px 0px 5px 5px;
	vertical-align: middle;
	/*display: inline;*/
}

.newsItem div.newsImg img {
	/* Hard-code the image width here */
	width:125px;
}

.newsItem div.newsCwI {
	/* CwI = Content with Image */
	/* this is the matching div that goes with the newsImg div 
	   if you don't want the text to flow around the image*/
	margin-right:130px;
}

h2 {
	margin:0px;
}

.bar {
	background:url('../img/headerbar.gif') repeat-x;
	height:30px;
	width:auto;
	font-size:13px;
	margin:0px;
	padding-top:7px;
	padding-left:10px;
	
}

/* Mailing List Form */

div.subscription {
	margin-top:25px;
	text-align:center;
	background-color:#151515;
	border:solid 1px #c00;
	padding-bottom:10px;
}
div.subscription h2 {
	width:100%;
	font-size:12px;
	font-weight:bold;
	background:#c00 url('../img/redbar.png') repeat-x;
	color:#fff;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:15px;
}
input {
	border:solid 1px #ccc;
	padding:2px;
	background:none;
	color:#cccccc;
}



